<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello World - Input Form</title>
    <link rel="stylesheet" th:href="@{/css/demo.css}">
</head>
<body>

    <form th:action="@{/processFormVersionThree}" class="hello-form" method="post">
        <input type="text" name="studentFName" placeholder="Enter first name">
        <input type="text" name="studentLName" placeholder="Enter last name">
        <input type="submit">
    </form>

</body>
</html>