body {
     background: blue;
}

form {
    margin: 30px;
    width: 350px;
}

form > input, label {
    margin: 18px;
}

.funny {
    font-size: 18px;
    font-style: italic;
    color: blue;
}


.hello-form > input {
    display: block;
    margin: 8px;
}