body {
     background: blue;
}

form {
    margin: 30px;
    width: 350px;
}

form > input, label, select {
    margin: 18px;
}

form > input[type=radio] {
    margin-left: 24px;
}

.funny {
    font-size: 18px;
    font-style: italic;
    color: blue;
}


.hello-form > input {
    display: block;
    margin: 8px;
}